<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.leroymerlin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leroy"
        android:label="Leroy Merlin"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.HomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.AtendimentoActivity"
            android:label=""></activity>

        <activity
            android:name=".Activity.Atendimento2Activity"
            android:label=""></activity>

        <activity
            android:name=".Activity.InventarioActivity"
            android:label=""></activity>

        <activity
            android:name=".Activity.Inventario2Activity"
            android:label=""></activity>
        <activity
            android:name=".Activity.PerdaActivity"
            android:label=""></activity>
        <activity
            android:name=".Activity.Perda2Activity"
            android:label=""></activity>

        <activity
            android:name=".Activity.GestaoActivity"
            android:label=""></activity>
        <activity
            android:name=".Activity.Gestao2Activity"
            android:label=""></activity>

        <activity
            android:name=".Activity.ComercioActivity"
            android:label=""></activity>
        <activity
            android:name=".Activity.Comercio2Activity"
            android:label=""></activity>

        <activity
            android:name=".Activity.LogisticaActivity"
            android:label=""></activity>
        <activity
            android:name=".Activity.Logistica2Activity"
            android:label=""></activity>

        <activity android:name=".Activity.AtendimentoGrupoActivity">

        </activity>


        <activity
            android:name=".Activity.GraficoActivity"
            android:label=""></activity>

        <activity
            android:name=".Activity.ComercioGrupoActivity"
            android:label=""></activity>

        <activity
            android:name=".Activity.PerdaGrupoActivity"
            android:label=""></activity>

        <activity
            android:name=".Activity.ListaActivity"
            android:label=""></activity>

        <activity
            android:name=".Activity.ListaJustificativaActivity"
            android:label=""></activity>

        <activity
            android:name=".Activity.GestaoGrupoActivity"
            android:label=""></activity>

    </application>

</manifest>